<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>Form Page</title>
  </head>
  <body>
    <!-- Write the code for the form -->
    <h1>Status : <%=status || "fail" %></h1>
    <h1>Message : <%=message || "Welcome, something is wrong" %></h1>
  </body>
</html>
